**/__pycache__/
**/*desktop.ini
**secrets*
**/venv
**/.venv
pc_venv/
**/.idea/
**/secret*
**/__pycache__
__pycache__/
**/__pycache__/
**/__pycache__*
**/__pycache__/*
**/__pycache__/** */
all_types/__pycache__/**

# IDE - VSCode
.vscode/

# user files
docker-compose.yml